.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}

.caption-full {
  padding: 9px;
}
#delete-form {
  display: inline;
}

#delete-comment {
  display: inline;
}
#map {
  height: 400px;
  width: 250px;
}
